.row-header {
	margin: 0px auto;
	padding: 0px auto;
}
.row-content {
	margin: 0px auto;
	padding: 50px 0px;
	border-bottom: 1px ridge;
	min-height: 400px;
}
.footer {
	padding: 20px 0px;
	margin: 0px auto;
	background-color: rgb(200, 166, 233);
}
.jumbotron {
	padding: 70px 30px;
	margin: 0px auto;
	background-color: purple;
	color: white;
}
.address {
	margin: 0;
	font-size: 80%;
	color: black;
}
